apiVersion: v1
kind: PersistentVolume
metadata:
  name: '{{ odoo-labels }}'-pv
  labels:
    env: '{{ env-labels }}'
    type: local
    app: '{{ odoo-labels }}'
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  storageClassName: manual
  hostPath:
    path: /data-odoo
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: '{{ odoo-labels }}'-pvc
  labels:
    env: '{{ env-labels }}'
    type: local
    app: '{{ odoo-labels }}'
spec:
  resources:
    requests:
      storage: 5Gi
  accessModes:
    - ReadWriteOnce
